@model List<ShopList>
@{
    ViewData["Title"] = "MyList";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<h3 class="tittle">Listelerim</h3>
<div class="row inner-sec">
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Liste İsmi</th>
                <th style="width: 160px;">İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shoplist in Model)
            {
                <tr>
                    <td>@shoplist.ShopListName</td>
                    <td>
                        @if (shoplist.Use == false)
                        {
                            <form asp-action="Shopping" method="post" style="display: inline">
                                <input type="hidden" name="id" value="@shoplist.Id">
                                <button type="submit" class="btn btn-secondary btn-sm my-2 mx-2">Alışverişe Çık</button>
                            </form>
                        }
                        else if(shoplist.Use==true)
                        {
                            <form asp-action="Shopping" method="post" style="display: inline">
                                <input type="hidden" name="id" value="@shoplist.Id">
                                <button type="submit" class="btn btn-warning btn-sm my-2 mx-2">Alışverişi Tamamla</button>
                            </form>
                        }
                        <form asp-action="ListDetail" method="post" style="display: inline">
                            <input type="hidden" name="listId" value="@shoplist.Id">
                            <button type="submit" class="btn btn-info btn-sm my-2 mx-2">Detay</button>
                        </form>
                        <form asp-action="DeleteList" method="post" style="display: inline">
                            <input type="hidden" name="shopListId" value="@shoplist.Id">
                            <button type="submit" class="btn btn-danger btn-sm my-2 mx-2">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary read-m" asp-controller="Member" asp-action="AddProduct" asp-route-id="@*@category.Id*@">Ürün Ekle</a>
    <a asp-controller="Member" asp-action="CreateList" class="btn btn-primary read-m mx-3">Liste Oluştur</a>
</div>

